<section id="dont-miss-anything">
    <div class="container">
        <div class="head-line">
            <h1>Dont Want to Miss Anything</h1>
            <img src="images/arrows.svg" alt="">
        </div>
        <div class="check-signup">
            <div class="box">
                <h4>Sign up for NewsLetter</h4>
            </div>
            <div class="box">
                <div>
                    <input type="checkbox">
                    <label for="checkbox">Daily Newsletter</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label for="checkbox">Even Updates</label>
                </div>
            </div>
            <div class="box">
                <div>
                    <input type="checkbox">
                    <label for="checkbox">Advertising Updates</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label for="checkbox">Startups Weekly</label>
                </div>
            </div>
            <div class="box">
                <div>
                    <input type="checkbox">
                    <label for="checkbox">Week in Review</label>
                </div>
                <div>
                    <input type="checkbox">
                    <label for="checkbox">Podcasts</label>
                </div>
            </div>


        </div>
        <div class="sub">
            <input type="email">
            <button class="btn-theme">Subscribe*</button>
        </div>
        <p>* Yes, I agree yo the <a class="test">terms</a> and <a class="test">privacy policy</a></p>
    </div>
</section>