<section id="download-app">
    <div class="container">
        <div class="picture">
            <img src="images/screens.png">
        </div>

        <div class="manage-work">
            <div class="head">
                <h1>Download Our App for Any Devices</h1>
            </div>
            <p>App Store</p>
            <img src="images/rating.svg" alt="">
            <div class="app-store">
                <div class="text-box">

                    <h4>Ediotor´s Choice</h4>
                    <p>rating 4.7 187k reviews</p>
                </div>
                <div class="app-pic">
                    <img src="images/appstore.svg" alt="">
                </div>
            </div>
            <p>Google store</p>
            <img src="images/rating.svg" alt="">
            <div class="google-store">
                <div class="text-box">

                    <h4>App of the Day</h4>
                    <p>rating 4.8 30k reviews</p>
                </div>
                <div class="app-pic">
                    <img src="images/googleplay.svg" alt="">
                </div>
            </div>

        </div>

    </div>
</section>