<section id="integrate-work">
    <div class="container">
        <div class="head-line">
            <h1>Integrate Top Work Tools</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, consequuntur sit architecto ducimus soluta molestias quaerat mollitia dolor cupiditate laudantium a sequi neque aspernatur vitae corporis iusto tenetur maiores fugit?</p>
        </div>
        <div class="box">
            <a class="link-box" href="">
                <div class="boxes-and-icons">
                    <img src="images/color.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
            <a class="link-box" href="">
                <div class="boxes-and-icons">
                    <img src="images/color2.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
            <a class="link-box" href="">
                <div class="boxes-and-icons">
                    <img src="images/color3.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>

            </a>
            <a class="link-box" href="">
                <div class="boxes-and-icons">
                    <img src="images/color4.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
        </div>
        <div class="box">
            <a class=link-box href="">
                <div class="boxes-and-icons">
                    <img src="images/color5.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
            <a class="link-box" href="">
                <div class="boxes-and-icons">
                    <img src="images/color6.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
            <a class="link-box" href="">
                <div class="boxes-and-icons">
                    <img src="images/color7.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
            <a class="link-box " href="">
                <div class="boxes-and-icons">
                    <img src="images/color8.svg">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptate nemo laborum cum.
                    </p>
                </div>
            </a>
        </div>

    </div>
</section>