@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = (themeMode == "dark") ? true : false;
}


<section id="light-and-dark">
    <div class="btn-switch">
        <label>Light</label>
        <label class="switch" for="switch-mode">
            <input type="checkbox" id="switch-mode" checked="@isDark">
            <div class="slider round"></div>
        </label>
        <label>Dark</label>
    </div>
    <div class="container">
        <div class="dark">
            <h1>Switch Between</h1>
        </div>
        <div class="white">
            <h1>Light & Dark Mode</h1>
        </div>
        <div class="computer">
            <img src="images/mockup.png">
        </div>
        
        
        
    </div>
    
</section>