<section id="showcase">
    <div class="container">

        <div class="content">
            <h1>Task Management Assistant You Gonna Love</h1>
            <p>We offer you a new generation of task management system. Plan, manage & track all your task in one flexible tool.</p>
            <a class="btn-theme" href="#">Get started for free</a>
            <h6>Largest Companies use our tool to work efficiently</h6>
            <div class="brands">
                <img src="images/logo (4).svg" alt="">
                <img src="images/logo (5).svg" alt="">
                <img src="images/logo (6).svg" alt="">
                <img src="images/logo (7).svg" alt="">
            </div>
        </div>
        <div class="background-image">
            <img class="background-image" src="./images/image (16).svg" alt="">
        </div>

    </div>
</section>