#dont-miss-anything {
    background-color: $theme-opacity;

    .container {


        p {
            padding-right: 50px;
            padding-left: 50px;
        }

        padding-top: 100px;
        padding-bottom: 100px;

        .head-line {
            display: none;
            justify-content: center;

            img {
                padding-left: 10px;
            }
        }

        @media (min-width:500px) {
            .head-line {
                display: flex;
            }
        }

        .check-signup {
            justify-content: space-around;
            display: none;
            align-items: center;
            padding-left:50px;
            .box {
                display: block;
                padding: 20px;

                label {
                    padding: 5px;
                    font-size: 20px;
                }

                h4 {
                    width: 70%;
                }

                input[type="checkbox"] {
                    width: 30px;
                    height: 20px;
                    background-color: #ccc;
                    border-radius: 5px;
                    cursor: pointer;
                }


                input[type="checkbox"]:checked {
                    background-color: #007bff;
                }
            }
        }

        @media (min-width:800px) {
            .check-signup {
                display: flex;
            }
        }

        .sub {
            margin-top: 0px;
            display: flex;
            justify-content: center;
            margin-bottom: 0px;
            align-items: center;
            padding-right: 50px;
            padding-left: 50px;

            button {
                height: 34px;
                width: 100%;
            }

            input {
                border-radius: 10px;
                width: 100%;
                margin-right: 30px;
                border: 1px solid rgb(207, 207, 207);
                padding: 10px;
            }
        }

        .News {
            display: flex;
            padding-left: 50px;
        }

        @media (min-width:800px) {
            .News {
                display: none;
            }
        }
    }
}
