header {

    .menu-bar.active {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        padding-top:50px;
        a {
            color: black;
        }
    }

    .menu-bar {
        display: none;
    }

    .container {
        display: flex;
        padding: 15px;
        justify-content: space-between;

        @include lg {
        }



        .first-head {
            display: none;
            gap: 2rem;
            display: none;
        }

        @media (min-width:1200px) {
            .first-head {
                display: flex;
            }
        }

        .head-btn {
            display: none;
            padding: 10px;
            gap: 2rem;

            .menu-bar {
                display: none;
            }
        }

        @media (min-width:1200px) {
            .head-btn {
                display: flex;
            }
        }

        .menu-box {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;



            span {
                margin-left: 20px;
                margin-right: 30px;
            }

            .little-box {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border: 1px solid transparent;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                margin-left: 20px;
            }

            .icon-box {
                align-items: center;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 600;

                .btn-switch {
                    display: none;
                }

                @media (min-width:500px) {
                    .btn-switch {
                        display: flex;
                    }
                }
            }
        }



        @media (min-width: 1200px) {
            .menu-box {
                display: none;
            }
        }

        #logo {
            display: flex;
            padding: 0;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: left;

            span {
                font-weight: 900;
                font-size: 25px;
            }



            img {
                transition: transform 0.3s;
            }

            img:hover {
                transform: scale(1.2);
            }

            p {
                align-items: center;
            }
        }

        #menu {
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: left;
            gap: 1rem;


            @include lg {
            }

            nav {

                a {
                    padding: 10px;
                }

                .menu-link-login {
                    border-radius: 30px;
                }
            }
        }

        .btn-switch {
            display: flex;
            justify-content: right;

            @include lg {
            }
        }

        .account-buttons {
            justify-content: right;
            display: flex;
            gap: 1rem;

            @include lg {
            }


            img {
                margin-left: 10px;
                height: 45px;
                width: 45px;
                transition: transform 0.3s;
            }

            img:hover {
                transform: scale(1.4);
            }
        }

        .btn-mobile {


            @include lg {
            }
        }
    }
}
