#saved-items {
    .container {
        display: flex;

        .leftside {
            padding: 50px;
            width: 30%;
            border-right: 1px solid rgb(233, 233, 233);

            .btn-submit {


                .btn {
                    width: 100%;

                    .btn-theme {
                        width: 100%;
                        display: flex;
                        justify-content: left;
                    }

                    a {
                        margin-bottom: 10px;
                        background-color: white;
                        color: black;
                        padding-right: 10px;

                        &:hover {
                            background: $theme;
                        }
                    }
                }
            }

            .profile {
                margin-bottom: 30px;
                text-align: center;

                h4 {
                    margin: 0;
                }
            }
        }

        .rightside {
            width: 60%;
            padding: 50px;

            h1 {
            }

            .box-row {
                margin-top: 20px;
                display: flex;
                gap: 15px;
                padding-bottom: 0;

                .box-link {

                    :hover {
                        background-color: $theme-opacity;
                        border-radius: 10px;
                    }
                }

                .box {
                    position: relative;
                    z-index: 0;

                    .marks {
                        position: absolute;
                        right: 15px;
                        top: 15px;
                        z-index: 10;
                    }

                    .badge {
                        position: absolute;
                        left: 15px;
                        top: 15px;
                        z-index: 10;
                    }

                    img {
                        border-radius: 10px;
                    }

                    .line {
                        display: Flex;
                        border-top: 1px solid rgb(228, 226, 226);

                        p {
                            padding-right: 20px;
                        }
                    }
                }
            }

            .box-row.second {
                padding-top: 0;
            }
        }
    }
}
