#single-section {
    z-index: 0;
    position: relative;

    .map {

        img {
            width: 100%;
        }

        .container {


            .info {
                padding: 30px;
                position: absolute;
                top: 0;

                .content {

                    .navigation {
                        a {
                            padding-right: 10px;
                            color: white;
                        }

                        i {
                            padding-right: 10px;
                            color: white;
                        }
                    }
                }

                .content-text {
                    color: white;

                    h1 {
                        color: white;
                    }

                    p {
                        color: rgb(184, 184, 184);
                    }
                }

                .seller {
                    display: Flex;
                    margin-top: 50px;
                    color: white;

                    .best {
                        background-color: rgb(18, 170, 18);
                        font-weight: 100;
                        padding: 3px;
                        border-radius: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin-right: 10px;
                    }

                    .Digital {
                        background-color: white;
                        color: black;
                        font-weight: 700;
                        padding: 3px;
                        border-radius: 10px;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }

                .ratings {
                    color: rgb(184, 184, 184);
                    display: flex;
                    font-weight: 100;
                    align-items: center;

                    img {
                        width: 60px;
                        height: 60px;
                        margin-right: 10px;
                    }

                    p {
                        margin: 0;
                    }
                }

                .profile-pic {
                    img {
                        width: 100px;
                        height: 100px;
                        margin-right: 10px;
                    }

                    margin-top: 200px;
                    align-items: center;
                    display: flex;

                    .create {
                        p {
                            color: white;
                            margin: 5px;
                        }
                    }
                }
            }
        }
    }

    .description {

        .container {

            .content {
                display: flex;

                .leftside {
                    width: 60%;

                    .course {
                        padding-top: 100px;
                    }

                    .learn {
                    }
                }

                .rightside {
                    padding: 100px;
                    align-items: center;

                    .border {
                        border: 1px solid rgb(209, 209, 209);
                        padding: 30px;
                        border-radius: 10px;
                        box-shadow: 5px 5px 10px rgba(190, 190, 190, 0.5);
                    }

                    span {
                        font-weight: 100;
                        font-size: 20px;
                        text-decoration: line-through;
                    }

                    .includes {
                        align-items: center;
                        padding: 30px;

                        .icons {
                            display: flex;
                            align-items: center;

                            p {
                                margin: 0;
                                padding-left: 10px;
                            }
                        }
                    }

                    .money {
                        margin-top: 50px;
                    }
                }
            }

            .last-content {
                .details {
                    display: flex;
                    margin-top: 40px;
                    margin-bottom: 30px;

                    img {
                        padding-right: 30px;
                    }
                }
            }

            .learn-from {
                display: Flex;
                padding-top: 60px;
                padding-bottom: 50px;

                img {
                }

                .the-best {
                    color: rgb(180, 180, 180);
                    background-color: black;
                    padding: 100px;

                    h6 {
                        font-weight: 100;
                    }

                    h1 {
                        color: white;
                    }
                }

                .account-buttons {
                    display: flex;

                    .btn-theme {
                        margin-right: 30px;

                        &.red {
                            background-color: red;
                        }
                    }
                }
            }
        }
    }
}
