@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    
}

<!DOCTYPE html>
<html lang="en" class="@themeMode">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <script defer src="https://kit.fontawesome.com/41c8b474e2.js" crossorigin="anonymous"></script>
   
</head>
<body>

        

        @await Html.PartialAsync("~/Views/Partial/_header.cshtml");
        
        @RenderBody()

        @await Html.PartialAsync("~/Views/Partial/_footer.cshtml");




        <script src="https://kit.fontawesome.com/686402c9d7.js" crossorigin="anonymous"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    
        <partial name="_CookieConsent" />

</body>
</html>
