html, body {
    @include standard-text;
    font-size: 16px; 
    
    
}
.alert alert-success{
    background-color:green;
}
.fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.cookies-improve {
    background-color: #9397AD;
    padding: 50px;
    border-radius:10px;

    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        color: black;

        button {
            margin-left: 40px;
            width: 150px;
        }
    }
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px;
}

.text-xs { @include text-xs; }
.text-s { @include text-s; }
.text-m { @include text-m; }
.text-lg { @include text-lg; }
.text-xl { @include text-xl; }
.text-lead { @include text-lead; }

.d1 { @include d1; }
.d2 { @include d2; }
.d3 { @include d3; }
.d4 { @include d4; }
.d5 { @include d5; }
.d6 { @include d6; }

h1, .h1 { @include h1; }
h2, .h2 { @include h2; }
h3, .h3 { @include h3; }
h4, .h4 { @include h4; }
h5, .h5 { @include h5; }
h6, .h6 { @include h6; }

/*.wrapper {
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

#second-wrapper{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}*/


/*.dark-background {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: black;
    color: white;
    h1{
        color:white;
    }
    p{
        color:white;
    }
    h6{
        color:white;
    }
    a{
        color:white;
    }
}*/

